/*----------  Geral container  ----------*/

.container-moveRow {
  margin-bottom: 30px;
}

.container-moveRow h2 {
  margin-left  : 40px;
  margin-bottom: 5px;

  font-size  : 2rem;
  font-weight: 500;
}

/*----------  Filmes  ----------*/

.movies {
  overflow-x  : hidden;
  padding-left: 30px;
}

.list {
  width : 500vw;
  height: 280px;
}


/*----------  filmes individual  ----------*/


.content-movies {
  display: inline-block;
  width  : 185px;
}

.content-movies img {
  width        : 100%;
  border-radius: 2px;
  cursor       : pointer;

  transform : scale(0.85);
  transition: 200ms ease;
}


/*----------  Capa dos filmes  ----------*/

.img-movies {
  height: 0;
}

.img-movies .play {
  position: relative;
  bottom  : 200px;
  left    : 30px;

  width: 130px;

  visibility: hidden;
  opacity   : 0;

  transition: 200ms ease;
}

.img-movies:hover .capa {
  transform: scale(1);
}

.img-movies:hover .play {
  visibility: visible;
  opacity   : 1;
}


/*----------  Sinopse  ----------*/

.sinopse {
  display: none;
}