/*----------  Geral container  ----------*/

.container {
  margin-bottom: 30px;
}

.container h2 {
  margin-left: 40px;
  font-weight: 500;
}

/*----------  Filmes  ----------*/

.movies {
  overflow-x  : hidden;
  padding-left: 40px;
}

.list {
  width: 500vw;
}


/*----------  filmes individual  ----------*/


.content-movies {
  display: inline-block;
  width  : 180px;
}

.content-movies img {
  width        : 100%;
  border-radius: 3px;
  cursor       : pointer;

  transform : scale(0.85);
  transition: 200ms all ease-in-out;
}


.content-movies img:hover {
  transform: scale(1);
}